<template>
    <div>
        <h3>Would like to return to start page or play a new game with same category and difficulty?</h3>
        <button class="btn" @click="onStartPageClick">Return to start page</button>
        <button class="btn" @click="onNewGameClick">Play new game </button>
    </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'

export default {
    name: 'NewGame',
    methods: {
        ...mapMutations([ 'setUsername', 'setNumbOfQuestions']),
        ...mapActions([ 'getQuestions']),
        // On click sets up a completely new game by emptying username and amount of questions
        onStartPageClick() {
            this.setUsername('')
            this.setNumbOfQuestions('')
            this.$router.push('/')
        },
        // On Click loads new game with old selection
        onNewGameClick() {
            this.getQuestions()
            this.$router.push('/load')
        }
    } 

}
</script>

<style scoped>
.btn {
  background-color: #48b632;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 10px;
}

.btn:hover {opacity: 1}
</style>