<template>
    <div>
        <table>
            <tr>
                <th>Question</th>
                <th>Right answer</th>
                <th>Users answer</th>
            </tr>
            <tr v-for="index in amountOfQ" :key="index">
                <td>{{question[index-1]}}</td>
                <td>{{rightAnswers[index-1]}}</td>
                <td>{{playersAnswers[index-1]}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'QAndA',
    props: [ 'question', 'amountOfQ' ],
    computed: {
        ...mapState([ 'playersAnswers', 'rightAnswers', 'questions' ])
    }
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}
td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}


</style>

