<template>
    <div class="center">
        <Score :score="score" />
        <QAndA :question="allQuestions" :amountOfQ="amount" />
        <NewGame />
    </div>
</template>

<script>
import Score from '@/components/ResultsScreen/Score'
import QAndA from '@/components/ResultsScreen/QAndA'
import NewGame from '@/components/ResultsScreen/NewGame'
import { mapActions, mapMutations, mapState } from 'vuex'


export default {
    name: 'ResultsScreen',
    components: {
        Score,
        QAndA,
        NewGame
    },
    data() {
        return {
            score: 0,
            allQuestions: [],
            amount: 0
        }
    },
    methods: {
        ...mapActions([ 'updateHighscore']),
        ...mapMutations([ 'setNewHighscore']),
        // Counts users highscore for the game 
        countScore() {
            for(let i = 0; i < this.numbOfQuestions; i++){
                this.allQuestions.push(this.decodeHtml(this.questions[i]['question']))
                this.amount++
                if(this.playersAnswers[i] === this.rightAnswers[i])
                    this.score += 10
            }
            // Saves highscore locally
            this.setNewHighscore(this.score)
            // Calls action that updates highscore if needed
            this.updateHighscore()
        },
        // Helper function to decode html characters
        decodeHtml(html) {
            var txt = document.createElement("textarea")
            txt.innerHTML = html
            return txt.value
        }
    },
    computed: {
        ...mapState([ 'playersAnswers', 'rightAnswers', 'numbOfQuestions', 'questions' ])
    },
    created() {
        this.countScore()
    }
}
</script>

<style scoped>
.center {
    position: fixed;
    top: 25%;
    left: 25%;
    outline: white solid 2px;
    margin: auto;  
    padding: 100px;
    background-color: rgb(241, 197, 131);
    border-radius: 25px;
}

</style>