<template>
    <div>
        <h1>Congratulation you scored: {{score}} points</h1>
    </div>
</template>

<script>
export default {
    name: 'Score',
    props: [ 'score' ]
}
</script>

<style scoped>

</style>