<template>
    <div >
        <h2>{{question}}</h2>
        <button class="btn" :value="choices[0]" @click="answerClick">{{choices[0]}}</button>
        <button class="btn" :value="choices[1]" @click="answerClick">{{choices[1]}}</button>
        <button class="btn" :value="choices[2]" @click="answerClick">{{choices[2]}}</button>
        <button class="btn" :value="choices[3]" @click="answerClick">{{choices[3]}}</button>
    </div>
</template>


<script>

export default {
    name: 'QuestionMulti',
    props: [ 'question', 'choices' ],
    methods: {
        answerClick(event) {
            this.$emit('answered', event.target.value)
        }
    }
}
</script>

<style scoped>
.btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 10px;
}

.btn:hover {opacity: 1}
</style>