<template>
    <div class="center">
        <h3>Question number {{index}}/{{amoutOfQ}}</h3>
        <QuestionBool  v-if="questionType === 'boolean'" :question="question" @answered="handleAnswerClick"/>
        <QuestionMulti v-if="questionType === 'multiple'" :question="question" :choices="choices" @answered="handleAnswerClick"/>
    </div>
</template>


<script>
import QuestionBool from '@/components/QuestionsScreen/QuestionBool'
import QuestionMulti from '@/components/QuestionsScreen/QuestionMulti'
import { mapActions, mapMutations, mapState } from 'vuex'


export default {
    name: 'Question',
    data() {
        return {
            questionType: '',
            index: 1,
            question: {},
            choices: [],
            amoutOfQ: 1,
            allAnswers: [],
            correctAnswers: []
        }
    },
    components: {
        QuestionBool,
        QuestionMulti
    },
    computed: {
        ...mapState([ 'questions', 'numbOfQuestions' ])
    },
    methods: {
        ...mapMutations([ 'setPlayersAnswers', 'setRightAnswers' ]),
        ...mapActions([ 'getQuestions' ]),
        // Handles users answer click
        handleAnswerClick(answer) {
            // Adds users answer to the users answers array
            this.allAnswers.push(answer)
            // While there is still questions
            if(this.index < this.amoutOfQ){
                // Updates question type (boolean or multiple choice) to data
                this.questionType = this.questions[this.index]['type']
                // Updates question to data
                this.question = this.decodeHtml(this.questions[this.index]['question'])
                // Calls helper function that randomises multiple choice questions
                this.randomiseAnswers(this.index)
                this.index += 1 
            } 
            // After all questions are answered
            else{
                // Updates users answers to global
                this.setPlayersAnswers(this.allAnswers)
                // Updates the right answers to global
                this.setRightAnswers(this.correctAnswers)
                // Goes to results page
                this.$router.push('/results')
            }
        },
        // Helper function to randomise multiple choice questions
        randomiseAnswers(index) {
            // If question is multiple choice
            if(this.questionType === 'multiple') {
                // Adds the correct answer to the correct answers array
                this.correctAnswers.push(this.decodeHtml(this.questions[index]['correct_answer']))
                // Creates array with first value already inside: the correct answer
                const all = [this.decodeHtml(this.questions[index]['correct_answer'])]
                //  For every wrong answer in wrong answers array pushes them in created all array
                this.questions[index]['incorrect_answers'].forEach(e => all.push(this.decodeHtml(e)))
                // Suffles choices in array
                this.choices = all.sort(() => Math.random() - 0.5)
            } else {
                // If boolean question, just adds correct answer to the correct answers array
                this.correctAnswers.push(this.decodeHtml(this.questions[index]['correct_answer']))
            }
        },
        // Helper function to decode html characters
        decodeHtml(html) {
            var txt = document.createElement("textarea")
            txt.innerHTML = html
            return txt.value
        }
    },
    // Initialises first values 
    created() {
        this.questionType = this.questions[0]['type']
        this.question = this.decodeHtml(this.questions[0]['question'])
        this.amoutOfQ = this.numbOfQuestions
        this.randomiseAnswers(0)
    }
    
}
</script>

<style scoped>
.center {
    position: fixed;
    top: 25%;
    left: 25%;
    outline: white solid 2px;
    margin: auto;  
    padding: 100px;
    background-color: rgb(241, 197, 131);
    border-radius: 25px;
}
</style>