<template>
    <div>
        <div class="loader"></div>
        <h2 >Game Loading!</h2>
    </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'
export default {
    name: 'LoadScreen',
    computed: {
        ...mapState([ 'error' ])
    },
    methods: {
        ...mapMutations([ 'setError', 'setUsername', 'setNumbOfQuestions']),
        ...mapActions([ 'getToken' ]),
        // Method handles different error that can happen from users selections or from game
        someErrors(){
            switch(this.error){
                case 1:
                    alert(`API doesn't have enough questions for your game. You will be redirected to start page, please try again.`)
                    // Sets error back to empty value
                    this.setError('')
                    // Set username and number of questions back to empty value so that they doesn't interfere with new game
                    this.setUsername('')
                    this.setNumbOfQuestions('')
                    // Redirects to the start page
                    this.$router.push('/')
                    break;
                case 2:
                    // Does same as previous
                    alert(`Your game call contains an invalid parameter. You will be redirected to start page, please try again.`)
                    this.setError('')
                    this.setUsername('')
                    this.setNumbOfQuestions('')
                    this.$router.push('/')
                    break;
                case 3:
                    // Retrieves also new token 
                    alert(`Your session toke has expired. You will be redirected to start page with new token, please try again.`)
                    this.setError('')
                    this.setUsername('')
                    this.setNumbOfQuestions('')
                    this.getToken()
                    this.$router.push('/')
                    break;
                case 4:
                    // Retrieves also new token
                    alert(`Your session toke has has returned all possible questions from this category. You will be redirected to start page with new token, please try again.`)
                    this.setError('')
                    this.setUsername('')
                    this.setNumbOfQuestions('')
                    this.getToken()
                    this.$router.push('/')
                    break;
                default:
                    alert(`Some error happened. You will be redirected to start page, please try again.`)
                    this.setError('')
                    this.setUsername('')
                    this.setNumbOfQuestions('')
                    this.$router.push('/')
                    break;
            }

        },
        // Sets loading screen to 3 seconds unless there is active error
        startLoad() {
            setTimeout(() => {
                if(!this.error)
                    this.$router.push('/questions')
                else
                    this.someErrors()
            }, 3000)
        }
    },
    mounted() {
        this.startLoad()
    }
}
</script>

<style scoped>
.loader, h2 {
    position: fixed;
    top: 50%;
    left: 50%;
} 

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(241, 197, 131);;
  border-bottom: 16px solid rgb(241, 197, 131);;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>