<template>
    <div>
        <p>Please type your name:</p>
        <label for="username">Username </label>
        <input @input="onUsernameChange" type="text" id="username">
        <p>Select category you want to play:</p>
        <select @change="onCategoryChange" name="categories" id="categories" >
            <option value="none">None</option>
            <option v-for="category in allCategories" :key="category.id" :value="category.id">
                {{category.name}}
            </option>
        </select>
        <p>Select difficulty:</p>
        <select @change="onDifficultyChange" name="difficulty" id="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <p>Select how many questions you want to play:</p>
        <label for="amount">Select between 1 and 50 questions </label>
        <input @input="onAmountOfQuestionsChange" type="number" name="amount" id="amount" min="1" max="50">
    </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'

export default {
    name: 'Selection',
    methods: {
        ...mapActions([ 'fetchCatergories', 'checkUser' ]),
        ...mapMutations([ 'setUsername', 'setCategory', 'setDifficulty', 'setNumbOfQuestions' ]),
        // Changes username to users input
        onUsernameChange(event) {
            this.setUsername(event.target.value.trim())
        },
        // On select changes category 
        onCategoryChange(event) {
            this.setCategory(event.target.value)
        },
        // Changes difficulty
        onDifficultyChange(event) {
            this.setDifficulty(event.target.value.trim())
        },
        // Changes amount of questions user will get 
        onAmountOfQuestionsChange(event) {
            // Adds typed value to variable
            let amount = event.target.value.trim()
            // Awakes alert if amount if smaller than 1 or bigger than 50
            if(amount < 1 || amount > 50){
                alert(`Amount of questions cant be ${amount}. Choose amount between 1 and 50!`)
            } else {
                this.setNumbOfQuestions(amount)
            }
        }
    },
    computed: {
        ...mapState([ 'allCategories', 'username', 'numbOfQuestions' ])
    },
    // Fetches categories and sets it to show in select menu
    created() {
        this.fetchCatergories()
        this.setCategory(this.allCategories[0])
    }
}
</script>

<style scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>