<template>
    <body >
        <div class="center" @click="onBodyClick">
            <h1 >Welcome to play Trivia</h1>

            <Selection  />
            <button  @click="onButtonClick">Start</button>
        </div>
    </body>
</template>


<script>
import { mapActions, mapState } from 'vuex'
import Selection from '@/components/StartScreen/Selection'

export default {
    name: 'StartScreen',
    data() {
        return {
            count: 0
        }
    },
    components: {
        Selection,
        },
    methods: {
        ...mapActions([ 'checkUser', 'getToken', 'getQuestions', 'category' ]),
        // On button click if username or number of questions is empty or category is not chosen
        // method wakes alert. Otherwise methos check first if user is already in db, if not it 
        // adds it there 
        onButtonClick() {
            // On button click if username or number of questions is empty or category is not chosen
            // method wakes alert.
            if(this.username === '' || this.numbOfQuestions === '' || this.category === 'none'){
                alert("You havent given all necessary information yet.\nPlease write your usename and select category, difficulty and number of questions.")
            } 
            else{
                // Checks first if user is already in db, if not it adds it there 
                this.checkUser()
                // Checks if user already have token, if not it gets a new one from API
                if(this.token !== '')
                    this.getToken()
                // Fetches questions by selected attributes 
                this.getQuestions()
                // Reroutes to the loading page
                this.$router.push('/load')
            }
        },
        // When clicked anywhere on the screen does exactly the same thing as onButtonClick()
        // except this one doesn't wake alert
        onBodyClick() {
            if(this.username === '' && this.numbOfQuestions === '' && this.category === 'none'){
                console.log(3);
            }
            else if (this.username === ''){
                console.log(1);
            }
            else if (this.numbOfQuestions === ''){
                console.log(2);
            }
            else if (this.category === 'none'){
                console.log(4);
            }
            else {
                this.checkUser()
                if(this.token !== '')
                    this.getToken()
                this.getQuestions()
                this.$router.push('/load')
            }
        }
    },
    computed: {
        ...mapState([ 'username', 'numbOfQuestions', 'token', 'questions', 'error' ])
    }
    
}
</script>


<style scoped>
.center {
    position: fixed; 
    top: 25%;
    left: 25%;
    outline: white solid 2px;
    margin: auto;  
    padding: 100px;
    background-color: rgb(241, 197, 131);
    border-radius: 25px;
}
</style>